<!---->
<launch>

 <include file="$(find gnss)/launch/gnss_driver.launch" />
 <include file="$(find rtk)/launch/rtk_localization.launch" />
 <include file="$(find trajectory_maker)/launch/trajectory_loader.launch" />
 <include file="$(find lane_select)/launch/lane_select.launch" />
 <include file="$(find motion_planner)/launch/velocity_set.launch" />
 <!-- <include file="$(find mpc_follower)/launch/mpc_follower.launch" /> -->
 <include file="$(find pid_pursuit)/launch/pid_pursuit.launch" />
 <include file="$(find arcfox)/launch/arcfox.launch" />
 <include file="$(find common_configs)/launch/lexus.launch" />
 <node pkg="rviz" type="rviz" name="default_rviz" args="-d $(find common_configs)/rviz/default.rviz" />

</launch>
